<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>memberSignup</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<label>
    아이디
    <input id="memberId" name="memberId">
</label>

<label>
    비밀번호
    <input id="memberPasswords" name="memberPasswords">
</label>

<label>
    메일
    <input id="memberEmail" name="memberEmail">
</label>

<button id="sendEmail" type="button">이메일 발송</button>

<label>
    이메일 인증
    <input id="memberEmailConfirm">
</label>

<button id="confirmEmail" type="button">인증하기</button>

<label>
    전화번호
    <input id="memberPhone" name="memberPhone">
</label>
<button id="check" type="button">check</button>
<button id="signupBtn" type="button">submit</button>
</body>
<script src="/member/signup.js"></script>
</html>