<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>memberSignup</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

<div class="container">
    <div class="form-group">
        <label for="memberId">memberId</label> <input name="memberId" type="text" class="form-control"
                                                      placeholder="Enter memberId" id="memberId">
    </div>
    <p id="valid_memberId"></p>

    <div class="form-group">
        <label for="memberPasswords">Password</label> <input type="password" name="memberPasswords" class="form-control"
                                                             placeholder="Enter Password" id="memberPasswords">
    </div>
    <p id="valid_memberPasswords"></p>

    <div class="form-group">
        <label for="memberPhone">Phone</label> <input type="tel" name="memberPhone" class="form-control"
                                                      placeholder="Enter Phone" id="memberPhone"
                                                      oninput="autoHyphen(this)" maxlength="13">
    </div>
    <p id="valid_memberPhone"></p>

    <div class="form-group">
        <label for="memberEmail">Email address</label> <input type="email" name="memberEmail" class="form-control"
                                                              placeholder="Enter email" id="memberEmail">
        <button id="sendEmail" type="button">Send Email</button>
    </div>
    <p id="valid_memberEmail"></p>

    <div class="form-group">
        <label for="authCode">Code</label> <input type="email" name="authCode" class="form-control"
                                                  placeholder="Enter Code" id="authCode">
        <button id="confirmEmail" type="button">Confirm</button>
    </div>
    <p id="valid_authCode"></p>

    <button id="signupBtn" type="button" class="btn btn-primary">Join</button>
</div>
</body>
<script src="/member/signup.js"></script>
</html>