<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>memberSignup</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<label>
    <input id="memberId" name="memberId">
</label>
<label>
    <input id="memberPasswords" name="memberPasswords">
</label>
<label>
    <input id="memberEmail" name="memberEmail">
</label>
<label>
    <input id="memberPhone" name="memberPhone">
</label>
<button id="check" type="button">check</button>
<button id="signupBtn" type="button">submit</button>
</body>
<script src="/member/signup.js"></script>
</html>